:root {
  --main-color: #333641;
  --main-color2: rgba(52, 55, 66, 0.7);
  --main-color-dull: #3e4149;
  --main-color-dull2: #3a3d44;
  --second-color: #0baddc;
  --second-color-dull: rgba(11, 173, 220, 0.8);
  --main-text: #fff;
  --main-text-dull: rgba(255, 255, 255, 0.8);
}

.body img {
  z-index: -2;
  min-height: calc(100vh - 92px);
  object-fit: cover;
  opacity: 0.5;
}

.body-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgb(250, 117, 117),
    #333641 50%,
    #333641 100%
  );
  z-index: -1;
}
