:root {
  --main-color: #333641;
  --main-color2: rgba(52, 55, 66, 0.7);
  --main-color-dull: #3e4149;
  --main-color-dull2: #3a3d44;
  --second-color: #0baddc;
  --second-color-dull: rgba(11, 173, 220, 0.8);
  --main-text: #fff;
  --main-text-dull: rgba(255, 255, 255, 0.8);
}

.body img {
  z-index: -2;
  min-height: calc(100vh - 92px);
  object-fit: cover;
  opacity: 0.5;
}

.body-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgb(250, 117, 117),
    #333641 50%,
    #333641 100%
  );
  z-index: -1;
}

.page-container {
  height: calc(100vh - 92px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .body-img {
    height: 160vh !important;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
